{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Date      : {{assessment.as_trans_date}}	</p>
  <p class="h2"> Subject   : {{assessment.as_sc_code}}		</p>
  <p class="h2"> Scheme    : {{assessment.as_ch_num}}	</p>
  <p class="h2"> Subject   : {{assessment.as_sb_code}}	</p>
  <p class="h2"> Name      : {{assessment.as_name}}		</p>
  <p class="h2"> Remark    : {{assessment.as_remark}}	</p>
  <p class="h2"> Exception : {{assessment.as_exception}}	</p>
  <p class="h2"> Comment   : {{assessment.as_comment}}	</p>
  <p class="h2"> Review    : {{assessment.as_review}}	</p>
  <p class="h2"> Resources : {{assessment.as_resources}}	</p>
  <p class="h2"> Status    : {{assessment.as_status}}	</p>

  </div>

 <div class="row"> </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}