{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">School Level Billing Items</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>
 <div class="row">
  <div class="col-md-10 col-xs-10 col-sm-10"></div>
  <div class="col-md-2 col-xs-1 col-sm-1">
   <br/>

  </div>
 </div>
 <br/>
 {% for s_level in SchoolLevel_list %}
  <div class="row">
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">
       <li class="list-group-item ">
     <a href="{% url 'slevel' %}">{{ s_level.sl_code }}- {{ s_level.sl_name }}</a>

        <span class="badge"></span>
    </li>
     </ul>
    <br>
   </div>

  <div class="col-md-1">
    <a href="{% url 'addratesschool' s_level.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-Plus"></span> School Item
     </button>
    </a>
 </div>

   <div class="col-md-1">
    <a href="{% url 'ratesschool' s_level.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-list"></span> School Item
     </button>
    </a>
   </div>


   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
{% endblock %}
