{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Date    : {{ reg.mr_date }}</p>
  <p class="h2"> Day     : {{ reg.mr_day }}</p>
  <p class="h2"> Class   : {{ reg.mr_sc_code }}</p>
  <p class="h2"> Student : {{ reg.mr_cm_num }}</p>
  <p class="h2"> Mark    : {{ reg.mr_mark }}</p>
  <p class="h2"> Status  : {{ reg.mr_status }}</p>

 </div>

<div class="row"> </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}